{% extends '::base.html.twig' %}

{% block main_title %}
{% trans %}title.modify_account{% endtrans %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">    
            <h3 class="page-title">{% trans %}menu.modify_account{% endtrans %}
            </h3>
            {{ flash.display_flash_messages }}
            <form method="post">
            <p>{% trans %}acc.new_password{% endtrans %}:<br /><input name="pass1" type="password" ></p>
            <p>{% trans %}acc.rep_password{% endtrans %}:<br /><input name="pass2" type="password" ></p>
            <input type="submit" class="btn green" value="{% trans %}text.save_changes{% endtrans %}" />
            </form>
        </div>
    </div>
</div>
            <br /><br /><br /><br /><br /><br />
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER--> 
{% endblock %}
