{% import "::menu.html.twig" as menu %}
{% import "::alert.html.twig" as alert %}
{% import "::flash.html.twig" as flash %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <base href="/" />
	<meta charset="utf-8" />
	<title>Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Cabin:400,700' rel='stylesheet' type='text/css'>
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES --> 
	<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
	
	<link href="assets/css/pages/pricing-tables.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />

	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
	<script src="assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>   


</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-static-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="/">
				<img src="assets/img/logo.png" alt="logo" />
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<img src="assets/img/menu-toggler.png" alt="" />
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->    
				<!-- BEGIN TOP NAVIGATION MENU -->              
				<ul class="nav pull-right">
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="/?_switch=_exit"><i class="icon-male"></i>Back to Admin</a>
                    </li>
                    {% endif %}

                    {% if (not is_granted('ROLE_ADMIN')) and (user.isMultiClient) %}
                    <li>
                        <a href="/clients"><i class="icon-male"></i>Clients</a>
                    </li>
                    {% endif %}

                    <li>
                        <a href="/password"><i class="icon-cog"></i>Modify Account</a>
                    </li>

                    {% if not is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="/support"><i class="icon-heart"></i>Support</a>
                    </li>
                    {% endif %}

                    <li>
                        <a href="/logout"><i class="icon-off"></i>Log Out </a>
                    </li>
				</ul>
				<!-- END TOP NAVIGATION MENU --> 
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->   
	<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->   
            {{ menu.display_group(sidebar_menu) }}
			<!-- END SIDEBAR MENU -->
            <div style="margin: 20px 0px 0px 0px; padding: 20px; font-size: 11px; color:#888;">
                <h3 style="font-size: 14px; margin:0px;padding:0px;"><i class="icon-comment"></i> &nbsp;&nbsp; Have some feedback?</h3>
                <p>Please let us know - this platform is for you. We want to provide the features you need and ensure a bug free experience.
                    <br>E-mail: <a href="mailto:feedback@calltracking.hk">feedback@calltracking.hk</a>
                </p>
            </div>
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
        {% block body %}{% endblock %}
		</div>
		<!-- END PAGE -->    
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			&copy; 2013 CallTracking.hk
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
   
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/excanvas.min.js"></script>
	<script src="assets/plugins/respond.min.js"></script>  
	<![endif]-->   
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
    <script src="assets/plugins/jquery.form.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
    {% block plugins %}{% endblock %}
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="assets/scripts/app.js" type="text/javascript"></script>
    <script src="assets/scripts/form-validation.js"></script>
	<script src="assets/scripts/index.js" type="text/javascript"></script> 
    <script src="assets/scripts/form-components.js"></script>
	<script src="assets/scripts/ui-modals.js"></script>


	<!-- END PAGE LEVEL SCRIPTS -->  
    <script type="text/javascript">
    function validate_init(selector, rules)
    {
        $(selector).validate({
            errorElement: 'span',
            errorClass: 'help-inline',
            focusInvalid: true,
            ignore: "",
            rules: rules,

            invalidHandler: function(event, validator) {
            },

            highlight: function(element) {
                $(element)
                    .closest('.help-inline').removeClass('ok');
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error');
            },

            unhighlight: function(element) {
                $(element)
                    .closest('.control-group').removeClass('error');
            },

            success: function(label) {
                label.closest('.control-group').removeClass('error').addClass('success');
                label.remove();
            },

            submitHandler: function(form) {
                form.submit();
            }

        });
    }
    </script>

	<script>
		jQuery(document).ready(function() {   
		   App.init(); // initlayout and core plugins
		});
	</script>
    {% block javascript %}{% endblock %}
    {% block js_validation %}{% endblock %}
	<!-- END JAVASCRIPTS -->
	
</body>
<!-- END BODY -->
</html>
