{% extends 'OnCallAdminBundle::item.html.twig' %}

{% block title %}
{{ parent.getName }} <small>Campaign</small>
{% endblock %}

{% block delete_text %}
<p>Deleting an AdGroup will permanently delete all Adverts contained within it. All tracking data tied to this AdGroup will also be deleted. Phone numbers will be released and made available to use in other Campaigns (meaning that if anyone tries to call these numbers they will not be able to connect). Press "Delete All Data" to proceed.</p>
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/client/{{ parent.getClient.getID }}/campaigns">{{ parent.getClient.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    {{ parent.getName }}
    <i class="icon-angle-right"></i>
</li>
<li>
    AdGroups
</li>
{% endblock %}
