{% extends 'OnCallAdminBundle::item.html.twig' %}

{% block title %}
All Campaigns 
{% endblock %}

{% block delete_text %}
<p>Deleting a campaign will release all phone numbers assigned to your adverts. Please note, you will be billed for these numbers until you relinquish them in Number Management. Press "Delete" to proceed.</p>
{% endblock %}

{% block breadcrumb %}
<li>
    {{ parent.getName }}
    <i class="icon-angle-right"></i>
</li>
<li>
    Campaigns
</li>
{% endblock %}
